HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Sensitive / Secret files ###
.env
.env.*
!.env.example

# Spring Boot 환경별 설정
**/application.yaml
**/application-secret*.yaml
**/application-local*.yaml
**/application-dev*.yaml
**/application-prod*.yaml


# 인증서 및 키 파일
*.pem
*.key
*.p12
*.jks
*.keystore

# 로그
logs/
*.log
